 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
p {
  color: gray;
  font-style: italic;
}
h1 {
  color: navy;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

h3 {
  color: navy;
  font-weight: bold;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
}

img{
  height: 300px;
  width: 300px;
}